@model List<eticaretprojesi.Models.Siparis>
@{
    ViewBag.Title = "liste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />



</head>
<div class="container">
    <div class="table-responsive">

        <table id="Urunler" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>Adi</th>
                    <th>Soyadi</th>
                    <th>Eposta</th>
                    <th>Durum</th>
                    <th>Fiyat</th>
                    <th>Sipariş Tarih</th>
                    

                    <th>Siparis Detay</th>
                    <th>Sil</th>


                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>

                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                     
                        <td>@Html.DisplayFor(modelItem=>item.musteri.adi)</td>
                        <td>@Html.DisplayFor(modelItem=>item.musteri.Soyadi)</td>
                       

                        <td>@Html.DisplayFor(modelItem=>item.musteri.Eposta)</td>
                        <td>@Html.DisplayFor(modelItem=>item.SiparisDurumu.Tanim)</td>
                        <td>@Html.DisplayFor(modelItem=>item.SiparisDetay.Fiyat)</td>
                        <td>@Html.DisplayFor(modelItem=>item.SatisTarihi)</td>

                        <td>
                            <a href="/Siparis/siparisdetay/@item.Id" class="btn btn-primary btn-xs" style="font-size:x-small">Sipariş Detay</a>

                        </td>

                        <td>
                            <a class="btn btn-primary btn-sm" href="/Siparis/sil/@item.Id" onclick="return confirm('Urun Silmek İstediğinize Eminmisiniz?')">Sİl</a>
                        </td>

                    </tr>
                </tbody>
            }

        </table>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Urunler').DataTable();
    });
</script>