
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row p-2">
    <div class="col-md-12 col-sm-12 ">


        <div class="container table-bordered table-light ">

            <br />

            <h5 class="text-center">Gizlilik İlkesi</h5>
            <br />
            <br />
            <form method="post">


                @foreach (var item in ViewBag.gizlilik)
                {
                    <div class="form-group">

                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            <span class="required">*</span>

                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" name="Id" value="@item.Id" class="form-control" disabled="disabled" />
                        </div>


                    </div>
                    <div class="form-group">

                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Başlık
                            <span class="required">*</span>

                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" name="Baslik" value="@item.Baslik" class="form-control" />
                        </div>


                    </div>
                    <div class="form-group">

                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Anahtar_Kelime
                            <span class="required">*</span>

                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" name="Anahtar_Kelime" value="@item.Anahtar_Kelime" class="form-control" d />
                        </div>


                    </div>

                    <div class="form-group">

                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Title
                            <span class="required">*</span>

                        </label>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" name="Title" value="@item.Title" class="form-control" />
                        </div>


                    </div>
                    <div class="form-group">

                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            İcerik
                            <span class="required">*</span>

                        </label>
                        <div class="col-md-6 col-sm-6">
                            <textarea type="text" name="İcerik" rows="5" value="@item.İcerik" class="form-control">@item.İcerik</textarea>
                        </div>


                    </div>
                    <div class="In_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 offset-md-3">
                            <button type="submit" class="btn btn-success"> Kaydet</button>
                            <button type="reset" class="btn btn-primary">Temizle</button>
                            <button type="button" class="btn btn-primary">İptal</button>



                        </div>

                    </div>
                }

            </form>




        </div>
    </div>
</div>


